<!--generic Type o fRAzorPAgge Class ==> Strong type View-->
@model Employee
<div>
    <h3>@Model</h3>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="/Images/@Model.ImageURl" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <p class="card-text">@Model.Salary</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</div>