@{
    ViewData["Title"] = "Privacy Policy";
       Layout = "_MyLayout";
   // Layout = null;
}
<!--RenderBody-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<!--Head Seciton-->
@* @section FootSection{
    <!--Valid html (js\ Css\ html)-->
    Hi FRom View To footer Section
} *@

@section HeadSection {
    <!--Valid html (js\ Css\ html)-->
    Hi FRom View To Head Section
}
